* {
box-sizing: border-box;
margin: 0;
padding: 0;
}
body {
font-family: Arial, sans-serif;
background-color: #770101;
color: #333;
}
nav {
background-color: #141010;
color: rgba(136, 125, 125, 0.993);
display: flex;
justify-content: space-between;
align-items: center;
padding: 12px 24px;
}
nav span {
font-size: 1.1rem;
font-weight: bold;
}
nav ul {
list-style: none;
display: flex;
gap: 20px;
}
nav ul a {
color: white;
text-decoration: none;
font-size: 1rem;
}
nav ul a:hover,
nav ul a.activo {
text-decoration: underline;
color: #ffd700;
}
header {
background-color: #303030;
color: rgb(117, 9, 9);
text-align: center;
padding: 40px 20px;
}
header h1 {
font-size: 2rem;
margin-bottom: 10px;
}
header p {
font-style: italic;
font-size: 1rem;
}
.myButton {
	box-shadow: 0px 1px 0px 0px #1c1b18;
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	background-color:#eae0c2;
	border-radius:15px;
	border:2px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:#505739;
	font-family:Courier New;
	font-size:14px;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	background-color:#ccc2a6;
}
.myButton:active {
	position:relative;
	top:1px;
}
footer {
background-color: #292323;
color: white;
text-align: center;
padding: 16px;
margin-top: 40px;
font-size: 0.9rem;
}

